<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/regist.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>

    <div id="Logo">
        <a href="/"> Jin's Math </a>
    </div>

<form action="/regist" method="post" id="registForm">
     
        <div id="userInfo">
            <div>
                <h3>아이디</h3> 
                <input type="text" id="m_id" name="m_id" placeholder="아이디를 입력해주세요">
                <button> 중복확인 </button>
            </div>

            <div>
                <h3>비밀번호</h3>
                <input type="password" id="m_pw" name="m_pw">
            </div>

            <div>
                <h3>비밀번호 확인</h3>
                <input type="password" id="re_m_pw" name="re_m_pw">
            </div>

            <div id="grade">
                <h3>학원 및 학년</h3>
            </div>

            <div>
                <input type="text" id="m_academy" name="m_academy" placeholder="학원명">
            </div>
                
            <div>
                <span id="gradeBox">
                    <select name="m_grade" id="m_grade" aria-label="학년">
                        <option> 학년 </option>
                        <option value="E1"> 초1 </option>
                        <option value="E2">초2</option>
                        <option value="E3">초3</option>
                        <option value="E4">초4</option>
                        <option value="E5">초5</option>
                        <option value="E6">초6</option>
                        <option value="M1">중1</option>
                        <option value="M2">중2</option>
                        <option value="M3">중3</option>
                        <option value="H1">고1</option>
                        <option value="H2">고2</option>
                        <option value="H3">고3</option>
                    </select>
                </span>
            </div>
        </div>

        <input type="submit" id="registAgree" name="registAgree" value="가입하기">

</form>



</body>
</html>